.apexcharts-canvas {
  border-style: solid;
  border-width: thin;
  border-color: #e0e0e0;
  background: #fafafa;
}
.q-table__bottom-item {
  font-size: 10px;
  color: #757575;
}
.q-field__native {
  font-size: 10px;
  color: #757575;
}
.q-field__append {
  color: #757575;
}
.q-table thead {
  background-color: #26A69A;
  color: white;
}
.q-table__bottom {
  background-color: #eeeeee;
  padding: 0px 15px;
}
.q-table--dense .q-table__bottom {
  min-height: 0px;
}
.q-table__top {
  border: none;
}