<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" href="img/favicon.png" type="image/png">
	<link href="%% url_for('static', filename='css/surface_styles.css') %%" rel="stylesheet">
	<link href="%% url_for('static', filename='css/monokai_sublime.css') %%" rel="stylesheet">
	<link href="%% url_for('static', filename='css/custom.css') %%" rel="stylesheet">
	<script src="%% url_for('static', filename='js/highlight.min.js') %%"></script>
	<script>hljs.highlightAll();</script>
	<script src="%% url_for('static', filename='js/vue.global.js') %%"></script>
	<title>Ankaios Dashboard</title>
	<meta name="description" content="Ankaios Dashboard">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <style> /*Adding colored background to 'Tags' */
    .tag-item {
        border: 1px solid;
        padding: 2px;
		line-height: 1.2;
        margin-right: 3px;
        border-radius: 4px;
        display: inline-block;
        color: #000; /* Text color */
    }
    </style>

</head>
<body id="app">
	<input type="checkbox" id="nav--super-vertical-responsive">
	<label for="nav--super-vertical-responsive">MENU</label>
	<aside class="nav--super-vertical g--2 g-m--3 g-s--6 g-t--12 no-margin-vertical" role="sidebar">
		<div class="g--12 logo-area no-margin-vertical">
			<h4 class="color--pink no-margin-vertical">Dashboard</h5>
		</div>
		<nav class="g--12 no-margin-vertical" role="navigation">
			<a v-on:click="home()">Home</a>
			<a >Login</a>
			<a v-on:click="workloads()">Workloads</a>
			<a >About</a>
		</nav>
	</aside>

	<main class="g--10 g-m--12 m--2 m-m--0 no-margin-vertical" role="main">
		<header class="container--wrap">
			<img src="%% url_for('static', filename='ankaios_logo.png') %%" style="width:10%">
		</header>
		<!-- Home -->
		<div class="g--10 m--1" v-if="showHome">
			<h2 class="fade-in-from-top color--pink">Welcome to the Ankaios Dashboard</h2>
		</div>
		<!-- Config -->
		<div class="g--10 m--1" v-if="showConfig">
			<div class="g--8 card">
				<div class="g--12">
					<label>
						Runtime Config for {{config.workloadName}} on {{config.agent}}: <br>
						<textarea v-model="config.runtimeConfig" :disabled="!config.edit"></textarea>
					</label>
				</div>
				<button v-on:click="switchEdit()" class="btn--raised btn--blue" id="addBtn">Edit</button>
				<button v-on:click="applyConfig()" class="btn--raised btn--blue" id="addBtn">Save</button>
				<button v-on:click="closeConfig()" class="btn--raised btn--blue" id="addBtn">Close</button>
			</div>
		</div>
		<!-- Workloads -->
	  
		<div class="g--10 m--1" v-if="showWorkloads">
			<button v-on:click="deleteCheckedWorkloads()" class="btn--raised btn--red btn-to-right" id="deleteBtn">Delete</button>
			<button v-on:click="switchForm()" class="btn--raised btn--blue" id="newWorkloadBtn">New Workload</button>
			
                      
      <label> <!--Filter label for workload tags-->
				<input type="text" v-model="filterTag" placeholder="Filter by tag" />
			</label>
			<div v-if="isFormOpen" class="g--8 card">
				<div class="g--12">
					<label>
						WorkloadName: <input type="text" v-model="workloadName">
					</label>
				</div>
				<div class="g--12">
					<label>
						Agent: <input type="text" v-model="agent">
					</label>
				</div>
				<div class="g--12">
					<label>
						Runtime: <input type="text" v-model="runtime">
					</label>
				</div>
				<div class="g--12">
					<label>
						Restart Policy: 
						<select name="restartPolicy" id="selectRestartPolicy" v-model="restartPolicy">
							<option value="NEVER">NEVER</option>
							<option value="ALWAYS">ALWAYS</option>
							<option value="ON_FAILURE">ON_FAILURE</option>
						</select>
					</label>
				</div>
				<div class="g--12">
					<label>
						Tags (Json-Format: {"key1": "value1", "key2": "value2", ...}): <br>
						<textarea v-model="tags"></textarea>
					</label>
				</div>
				<div class="g--12">
					<label>
						Runtime Config: <br>
						<textarea v-model="runtimeConfig"></textarea>
					</label>
				</div>
				<button v-on:click="addWorkload()" class="btn--raised btn--gray" id="addBtn">Add</button>
				<button v-on:click="closeForm()" class="btn--raised btn--blue" id="addBtn">Close</button>
			</div>

			<table class="g--8 card" id="workloadTable">
				<thead>
					<tr>
						<th>Select</th> <!--Introduce checkbox for workloads--> 
						<th>Workload</th>
						<th>Agent</th>
						<th>State</th>

						<th>Info</th>
            <th>Tags</th> <!--Introduce column for workload tags-->
					</tr>
				</thead>
				<tbody>
					<tr v-for="state in filteredWorkloads">
					  <td><input type="checkbox" class="delete-checkbox" :id="state.instanceName.workloadName" :value="state.instanceName.workloadName" v-model="checkedWorkloads"/></td>
					  <td>{{state.instanceName.workloadName}}</td>
					  <td>{{state.instanceName.agentName}}</td>
					  <td>{{state.executionState.running}}</td>
            <td><button class="btn--float" v-on:click="openConfig(state.instanceName.workloadName)">+</button></td>
					  <td>
						  <ul>
							  <li v-for="tag in state.tags">
								  <!--Remove colored Key tags <span :style="{background: getColor(tag.key)}" class="tag-item">{{ tag.key }}</span>: -->
								  <span :class="tag-item">{{ tag.key }}</span>:
								  <span :style="{background: getColor(tag.value)}" class="tag-item">{{ tag.value }}</span>
							  </li>
						  </ul>
					  </td>
					</tr>
				  </tbody>
			</table>
		</div>
	</main>
</body>

<!-- Import Vue App -->
<script src="%% url_for('static', filename='js/components/dialog.js') %%"></script>
<script src="%% url_for('static', filename='js/main.js') %%"></script>

<!-- Mount Vue App -->
<script>
	const mountedApp = app.mount('#app')
</script>

</html>
