<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" href="img/favicon.png" type="image/png">
	<link href="{{url_for('static', filename='css/surface_styles.css')}}" rel="stylesheet">
	<link href="{{url_for('static', filename='css/monokai_sublime.css')}}" rel="stylesheet">
	<script src="js/highlight.pack.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	<title>Ankaios Dashboard</title>
	<meta name="description" content="Ankaios Dashboard">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<input type="checkbox" id="nav--super-vertical-responsive">
	<label for="nav--super-vertical-responsive">MENU</label>
	<aside class="nav--super-vertical g--2 g-m--3 g-s--6 g-t--12 no-margin-vertical" role="sidebar">
		<div class="g--12 logo-area no-margin-vertical">
			<h4 class="color--pink no-margin-vertical">Dashboard</h5>
		</div>
		<nav class="g--12 no-margin-vertical" role="navigation">
			<a href="index.html">Home</a>
			<a href="login.html">Login</a>
			<a href="{{url_for('workloads')}}">Workloads</a>
			<a href="about.html">About</a>
		</nav>
	</aside>
	<main class="g--10 g-m--12 m--2 m-m--0 no-margin-vertical" role="main">
		<header class="container--wrap">
			<img src="{{url_for('static', filename='ankaios_logo.png')}}" style="width:10%">
		</header>
		<div class="g--10 m--1">
			<h2 class="fade-in-from-top color--pink">Welcome to the Ankaios Dashboard</h2>
		</div>
	</main>
</body>
</hmtl>
